In [10]:
import pandas as pd
import numpy as np
import sqlite3
import re

#read the CSV
dfRNAL = pd.read_csv('RNAL.csv', encoding='ISO-8859-1', sep=';')
dfAirbnb = pd.read_csv('insideairbnb/porto_06-2019_listings.csv')

dfAirbnb.license.replace('', np.nan, inplace=True)

dfAirbnb['license'].value_counts()
dfAirbnb['license'].isna().sum()

1379

In [8]:
def sonumeros(a):
    return re.sub('[^0-9]','', a)

def semano(a):
    return re.sub('/2019','',str(a))

#Uniformiza num de registo, remove duplicados, ...
print("Total: ", dfAirbnb.shape)
dfAirbnb['first_review']=pd.to_datetime(dfAirbnb['first_review'], format='%Y-%m-%d')
dfAirbnb['last_review']=pd.to_datetime(dfAirbnb['last_review'], format='%Y-%m-%d')
dfAirbnb = dfAirbnb[(dfAirbnb['last_review'] > '2019-01-01')]
dfAirbnb.dropna(subset=['first_review'], inplace=True)
print("Recentes: ", dfAirbnb.shape)
dfAirbnb.drop_duplicates(subset=['license'], inplace=True)
print("Sem duplicados: ", dfAirbnb.shape)
dfAirbnb.license = dfAirbnb.license.apply(semano)
dfAirbnb.license = dfAirbnb.license.apply(sonumeros)
dfAirbnb.license.replace('', np.nan, inplace=True)
dfAirbnb.dropna(subset=['license'], inplace=True)
print("Sem vazios: ", dfAirbnb.shape)



dfRNAL.Nregisto = dfRNAL.Nregisto.apply(sonumeros)

Total:  (10966, 106)
Recentes:  (7466, 106)
Sem duplicados:  (5413, 106)
Sem vazios:  (5407, 106)

In [22]:
dfAirbnb = dfAirbnb[dfAirbnb.neighbourhood_group_cleansed == 'PORTO']

#Join
dfJoin = dfAirbnb.set_index('license').join(dfRNAL.set_index('Nregisto'))

dfJoin[['first_review', 'Data Abertura Publico']]

          first_review Data Abertura Publico
license
509067786   2011-11-14                   NaN
6995        2011-04-26            2013-03-27
634         2012-05-14            2014-12-09
85541       2011-05-10            2018-10-15
11205       2011-07-25            2015-04-10
5380        2011-07-05            2014-03-28
17076       2014-08-21            2014-06-16
34971       2011-10-29            2016-09-20
6184        2011-06-29            2018-03-29
4833        2011-07-06            2013-11-22
84715       2015-04-06            2018-10-09
5458        2011-11-20            2014-05-21
17751       2015-05-05            2015-05-01
6981        2011-08-30            2017-03-10
52314       2011-09-21            2017-07-24
5773        2012-07-12            2015-02-01
7235        2012-01-02            2013-01-07
7042        2012-01-04            2013-03-07
5400        2012-01-04            2014-05-09
20707       2015-05-20            2015-10-12
5488        2012-01-30            2014-06-09
60563       2012-06-12            2017-12-07
7349        2012-06-12            2015-02-12
6766        2012-06-13            2013-03-07
39681       2013-09-24            2017-02-06
5929        2012-05-18            2012-06-30
22602       2012-04-09            2016-01-28
30401       2013-01-31            2016-06-14
6201        2012-03-13            2014-06-03
41004       2012-04-04            2017-02-15
...                ...                   ...
95745       2019-06-23            2019-04-30
67535       2019-06-09                   NaN
98266       2019-06-14            2019-06-01
96777       2019-06-09            2019-05-20
81952       2019-06-11            2018-09-05
78316       2019-06-09            2018-11-01
98505       2019-06-15            2019-06-05
94861       2019-06-10            2019-05-01
94455       2019-06-15            2019-04-12
94860       2019-06-10            2019-05-01
89535       2019-06-10            2019-06-03
22446       2019-06-09                   NaN
97212       2019-06-09            2019-05-17
97602       2019-06-18            2019-05-22
97511       2019-06-21            2019-06-07
97317       2019-06-24            2019-05-31
72353       2019-06-11            2018-05-22
90938       2019-06-23            2019-02-10
97513       2019-06-19            2019-06-01
97512       2019-06-24            2019-06-01
96657       2019-06-22            2019-05-08
76618       2019-06-23            2018-07-03
97123       2019-06-20            2019-06-01
99276       2019-06-16                   NaN
98013       2019-06-18            2019-06-01
94451       2019-06-23            2019-05-01
94454       2019-06-25            2019-05-01
94425       2019-06-18            2019-05-01
95197       2019-06-24            2019-04-18
89947       2019-06-24            2018-12-21

[4185 rows x 2 columns]

In [23]:
dfJoin.LATITUDE.replace('', np.nan, inplace=True)
dfJoin.LONGITUDE.replace('', np.nan, inplace=True)
dfJoin.loc[dfJoin.LATITUDE.isnull(), 'joinedLatitude'] = dfJoin.latitude
dfJoin.loc[dfJoin.LATITUDE.notnull(), 'joinedLatitude'] = dfJoin.LATITUDE
dfJoin.loc[dfJoin.LONGITUDE.isnull(), 'joinedLongitude'] = dfJoin.longitude
dfJoin.loc[dfJoin.LONGITUDE.notnull(), 'joinedLongitude'] = dfJoin.LONGITUDE

In [24]:
dfJoin.LATITUDE.notnull().sum()

3812

In [27]:
#CSV todo

dfJoin.to_csv('joined_output.csv')

In [28]:
ALsemregisto = dfJoin[dfJoin.LATITUDE.isna()]
print(ALsemregisto.shape)

(373, 133)

In [30]:
print(dfRNAL.shape)
print(dfAirbnb.shape)
print(dfJoin.shape)

(8317, 27)
(4185, 106)
(4185, 133)

In [11]:
dfRNAL.to_csv('RNAL_com_coords.csv')