In [17]:
import pandas as pd
import numpy as np
import sqlite3
import re
from tqdm import tqdm

dfJoined = pd.read_csv('joined_output.csv')

In [18]:
dfJoined.LATITUDE.replace('', np.nan, inplace=True)
dfJoined['LATITUDE'].isna().sum()
dfJoined['LATITUDE'].value_counts()

41.145220    73
41.149700    58
41.147238    36
41.152279    26
41.146178    25
41.150100    24
41.157944    19
41.152667    18
41.142952    17
41.152246    17
41.144268    16
41.148717    15
41.158952    15
41.151943    14
41.146265    14
41.142546    14
41.141959    14
41.148534    13
41.143840    13
41.152705    13
41.154661    12
41.157788    12
41.157131    12
41.148385    12
41.147860    12
41.143200    11
41.147650    11
41.164630    11
41.145371    10
41.154651    10
             ..
41.119910     1
41.157832     1
41.154367     1
41.150176     1
41.160053     1
41.146892     1
41.155621     1
41.166743     1
41.147254     1
41.157968     1
41.154445     1
41.164945     1
41.163062     1
41.143843     1
41.157473     1
41.147080     1
41.163875     1
41.154787     1
41.149287     1
41.142279     1
41.159055     1
41.142363     1
41.166360     1
41.149687     1
41.143131     1
41.150944     1
41.154101     1
41.181002     1
41.148886     1
41.183178     1
Name: LATITUDE, Length: 2119, dtype: int64