In [3]:
import pandas as pd
import sqlite3

#read the CSV
df1 = pd.read_csv('insideairbnb/porto_06-2019_listings.csv')
df2 = pd.read_csv('insideairbnb/porto_06-2019_reviews.csv')
#connect to a database
conn = sqlite3.connect("Any_Database_Name.db") #if the db does not exist, this creates a Any_Database_Name.db file in the current directory
#store your table in the database:
df1.to_sql('listings', conn)
df2.to_sql('reviews', conn)
#read a SQL Query out of your database and into a pandas dataframe
sql_string = 'select  listing_id, host_id, min(date), listings.latitude, listings.longitude from reviews join listings on listings.id = reviews.listing_id where listings.neighbourhood_group_cleansed = "PORTO" group by listing_id order by date'
new_df = pd.read_sql(sql_string, conn)

new_df.head()

   listing_id  host_id   min(date)  latitude  longitude
0       91439   185209  2011-04-23  41.14833   -8.60983
1       86388   185209  2011-04-26  41.14847   -8.60812
2       94701   505473  2011-05-10  41.14707   -8.60109
3      131994   648963  2011-06-29  41.14993   -8.61510
4      100661   185209  2011-07-04  41.14851   -8.60988

In [18]:
joint = []

for i in range(len(new_df)):
    value=join(i[2],i[3])
    joint.append(value)
    
new_list = list(st(joint))

print(len(new_list))

NameError: name 'join' is not defined

In [16]:
new_df['bigOwner'] = new_df['host_id'].duplicated() 



new_df['bigOwner'].value_counts()

True     3754
False    3196
Name: bigOwner, dtype: int64

In [15]:
new_df.to_csv('mapdata.csv', encoding='utf-8')